.header{
    position: fixed;
    bottom: 0;
    width: 100%;
    height: 12vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #041833;
}

.animateOpen{
    animation: openMenu 0.5s;
}

.animateClose{
    animation: closeMenu 0.5s;
}

.header div{
    width: 100%;
}

.header__list__content{
    display: flex;
    list-style: none;
    align-items: baseline;
    justify-content: space-between;
    width: calc(100% - 10%);
    margin: 0 auto;
    padding: 0 10px;
}

.header__list__content li{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 5px;
    cursor: pointer;
}

.header__list__content li p{
    font-size: 12px;
    font-weight: 400;
    line-height: 16px;
}

.header__left{
    position: fixed;
    left: 0;
    height: calc(100vh - 12vh);
    width: 50vh;
    background-color: #041833;
}

.header__left ul{
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: flex-end;
    width: 100%;
    height: 100%;
    gap: 15px;
    list-style: none;
    padding: 20px;
}

.header__left ul li{
    cursor: pointer;
}

.header__left ul li:hover{
    color: #00FF94;
}

.header__left ul li p::after {
    content: '';
    position: absolute;
    bottom: -5px;
    left: 0;
    width: 100%;
    height: 2px;
    background-color: transparent;
    transition: width 0.5s ease;
}

.header__left ul li:hover p::after {
    width: 100%;
    background-color: #00FF94;
    animation:  lineWidth 0.5s;
}

.header__left ul li p{
    position: relative;
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
}


@media screen and (max-width: 380px) {
    .header__list__content li p{
        font-size: 9px;
    }

    .header__left ul{
        gap: 12px;
    }

    .header__left ul li p{
        font-size: 14px;
        font-weight: 400;
        line-height: 24px;
    }
}

@keyframes closeMenu {
    from{
     left: 0;
    } to{
     left: -230px;
    }
}

@keyframes openMenu {
    from{
     left: -230px;
    } to{
     left: 0;
    }
}

@keyframes lineWidth {
    from{
        width: 0;
    } to{
        width: 100%;
    }
}